@font-face {
  src: url(../fonts/JRS55.otf);
  font-family: Journal Sans; }
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Journal Sans; }

.hidden {
  opacity: 0; }

a {
  color: inherit;
  text-decoration: none; }

.body {
  -webkit-font-smoothing: antialiased;
  width: 100vw;
  height: 100vh;
  overflow: hidden; }

.bg {
  width: 100vw;
  height: 100vh;
  background-color: black; }

.videoWrapper {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  overflow: hidden; }

#video {
  width: calc((100vh + 60px) * 1.77);
  height: calc(100vh + 60px);
  position: absolute;
  -webkit-transition: 2s ease;
  transition: 2s ease; }

.black {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: black;
  opacity: .2; }

.main {
  width: 536px;
  height: calc(100vh - 120px);
  position: absolute;
  top: 60px;
  right: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.top, .botoom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.top .zakaz {
  font-family: Journal Sans;
  font-size: 8px;
  line-height: 10px;
  color: #FFFFFF;
  text-align: right;
  letter-spacing: 0.75px;
  margin-bottom: -22px; }
.top .logo {
  width: 552px;
  height: 115px;
  background-image: url(../img/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right; }
.top .teaser {
  font-family: Journal Sans;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 15px;
  width: 400px;
  text-align: right;
  margin-top: -13px; }
.top .books {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 20px; }
  .top .books a {
    position: relative;
    opacity: .5;
    width: 70px;
    margin-left: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .top .books a .bookslogo {
      background-size: contain;
      background-repeat: no-repeat; }
    .top .books a .description {
      position: relative;
      font-family: Journal Sans;
      font-size: 14px;
      color: #FFFFFF;
      line-height: 15px;
      text-align: center;
      -webkit-transition: .3s ease;
      transition: .3s ease;
      width: 80px;
      margin-top: 10px;
      opacity: 0;
      display: none; }
  .top .books a:hover {
    opacity: 100; }
    .top .books a:hover .description {
      opacity: 100;
      display: block; }
  .top .books #venec {
    background-image: url(../img/venec.svg);
    width: 54px;
    height: 26px; }
  .top .books #b1962 {
    background-image: url(../img/1962.svg);
    width: 70px;
    height: 37px; }

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .bottom a {
    display: block;
    position: relative;
    font-family: Journal Sans;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 15px;
    margin-left: 15px; }
  .bottom a::after {
    content: '';
    background-color: white;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -3px;
    position: absolute; }

@media (max-width: 1024px) {
  #video {
    opacity: 0; }

  .picture {
    height: 100vh;
    width: 177vh;
    position: absolute;
    background-image: url(../img/mobile-bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat; }

  .top .books a {
    opacity: 1; }
    .top .books a .description {
      display: block;
      opacity: 100; }
  .top .books a:hover {
    -webkit-transform: scale(1);
            transform: scale(1); } }
@media (max-width: 667px) {
  .main {
    height: calc(100vh - 40px);
    right: 20px;
    top: 20px; } }
@media (max-width: 375px) {
  .top .zakaz {
    font-size: 6px;
    line-height: 7px; }
  .top .logo {
    width: calc(100vw - 40px); }
  .top .teaser {
    width: calc(100vw - 120px);
    margin-top: -20px; } }
